.edit_row__cell {
    padding: 2px 5px;
    border: 1px solid rgba(224, 224, 224, 1);
    border-collapse: collapse;
}

.edit_row__cell_checkbox {
    padding: 2px 5px;
}

.edit_row__cell_textfield {
    width: 100%;
}